[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NMAR"]
	path = NMAR
	url = https://github.com/ncn-foreigners/nmar
[submodule "automatedRecLin"]
	path = automatedRecLin
	url = https://github.com/ncn-foreigners/automatedreclin
[submodule "blocking"]
	path = blocking
	url = https://github.com/ncn-foreigners/blocking
[submodule "jointCalib"]
	path = jointCalib
	url = https://github.com/ncn-foreigners/jointcalib
[submodule "nonprobsvy"]
	path = nonprobsvy
	url = https://github.com/ncn-foreigners/nonprobsvy
[submodule "singleRcapture"]
	path = singleRcapture
	url = https://github.com/ncn-foreigners/singlercapture
