[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jointCalib"]
	path = jointCalib
	url = https://github.com/ncn-foreigners/jointcalib
[submodule "singleRcapture"]
	path = singleRcapture
	url = https://github.com/ncn-foreigners/singlercapture
